@use "../utils/colors";
@use "../utils/typography";

.window-app {
  font-family: typography.$font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: colors.$c-black;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}