<header class="flexrow header">
    <img src="{{actor.img}}" class="profile-img" data-edit="img" data-action="editImg" />
    <div>
        <input
            type="text"
            name="name"
            class="name"
            value="{{actor.name}}"
            placeholder="{{localize 'Name'}}"
        />
    </div>
</header>