<section class='tab description {{tab.cssClass}}' data-group='primary' data-tab='description'>
  <fieldset class='description-container'>
    <legend>{{localize tabs.description.label}}</legend>
    {{formInput systemFields.description value=system.description localize=true}}
  </fieldset>
</section>
