.facets-roll {
    font-size: 12;
}

.dice-roll .facets-dice-total {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    flex: 0;
    font-size: var(--font-size-14);
    font-weight: bold;
}

.application.sheet.facets.actor {
    &.standard-form {
        gap: 0;
    }
    fieldset {
        padding: 0.5rem;
        .fieldset-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }

    &.locked {
        .header .name {
            background: transparent;
            --input-border-color: transparent;
        }
    }

    .header {
        gap: 1rem;
        & .profile-img {
            flex-grow: 0;
            border: none;
            height: var(--font-size-80);
            &:hover,
            &:focus {
                filter: drop-shadow(0 0 8px var(--color-shadow-primary));
            }
        }
        .name {
            height: var(--font-size-80);
            font-size: var(--font-size-48);
        }
        .icon {
            flex: 0;
            align-self: self-start;
        }
    }

    .member {
        display: grid;
        grid-template-areas:
            "image name bennies controls"
            "image identity identity identity"
            "image stats stats stats";
        column-gap: 1rem;
        grid-template-columns: auto 1fr auto auto;
        grid-template-rows: var(--input-height) auto auto;
        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
            border-bottom: 2px groove var(--color-fieldset-border);
        }
        &.broken * {
            cursor: not-allowed;
        }
        .image {
            --image-size: var(--font-size-64);
            display: inline-grid;
            height: var(--image-size);
            width: var(--image-size);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            grid-area: image;
            scale: 1;
            &:hover {
                text-shadow: none;
                filter: drop-shadow(0 0 8px var(--color-shadow-primary));
            }
        }
    }
}

.facets.button-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding-top: 5px;
}

.facets {
    .pools {
        position: relative;

        .pools-tab {
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
        }

        .pools-control {
            flex: 0 0 20px;
            text-align: center;
            line-height: 28px;
            border: none;
        }

        .pools-roll {
            flex: 0 0 20px;
            text-align: center;
            border-bottom: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pools-header {
            position: sticky;
            top: 0;
            left: 0;
            align-items: center;
            padding: 0 5px;
            margin: 5px 0;
            background: #cfcdc2;
            border: 1px solid #aaa;
            border-radius: 2px;
            text-align: left;
            font-weight: bold;
        }

        .pools-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li > * {
                margin: 0 3px;
                background: transparent;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid #aaa;
            }

            .pools-col {
                input {
                    text-align: center;
                }
            }
        }
    }
}
