.facets-roll {
    font-size: 12;
}

.dice-roll .facets-dice-total {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    flex: 0;
    font-size: var(--font-size-14);
    font-weight: bold;
}
