//Basic CSS to force file to generate
.facets {
    .sheet-header {
        flex: 0 auto;
    }
}

.facets-roll .quote {
    line-height: 0.5;
}
.facets-roll .quote div::after {
    bottom: 0;
    width: 10%;
}
.facets-roll .dice-formula,
.facets-roll .dice-total {
    flex: 0 0 100%;
    position: relative;
    margin: 0;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
    word-break: break-all;
}
