@use "sass:meta";
@use 'utils/typography';

// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.

@include meta.load-css('utils/colors');
@include meta.load-css('utils/mixins');
@include meta.load-css('utils/variables');

/* Global styles */
@include meta.load-css('global/window');
@include meta.load-css('global/grid');
@include meta.load-css('global/flex');

/* Styles limited to facets sheets */
.facets {
  @include meta.load-css('components/forms');
  @include meta.load-css('components/resource');
  @include meta.load-css('components/items');
  @include meta.load-css('components/effects');
}
