<div class="facets-roll">
    <div class="dice-quote">{{quote}}</div>
    <div class="dice-formula">{{formula}}</div>
    <div class="dice-header" id="total">Total/Tier Hit</div>
    <div class="dice-total">{{result.total}} - {{result.tiers.localized}}</div>
</div>