<div class="dice-roll" data-action="expandRoll">
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{> facets.roll_result_pools }}
        <h4 class="facets-dice-total">{{result.total}} - {{result.tiers.localized}}</h4>
    </div>
</div>

